{{!-- player stats --}}
<div id="playerStats">
	<p>Name: {{players.0.playerName}}</p>
	<p>Species: {{players.0.species}}</p>
	<p>Path: {{players.0.path}}</p>
	<p>Health: {{players.0.health}}</p>
</div>
<div id="compStats">
	<p>Name: {{players.1.playerName}}</p>
	<p>Species: {{players.1.species}}</p>
	<p>Path: {{players.1.path}}</p>
	<p>Health: {{players.1.health}}</p>
</div>

{{!-- player attack notifications --}}
<div id="playerCommand">
	<p>{{players.0.playerName}} attacked with spell yada yada</p>
</div>
<div id="compCommand">
	<p>{{players.1.playerName}} attacked with spell yada yada</p>
</div>

{{!-- player images --}}
<img id="playerImg" src=""/>
<img id="compImg" src=""/>